@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;300&display=swap');

body, button, input, select, textarea{ /* Colocar a fonte para todos esses elementos */
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;     /* Colocar como border-box para todos os elementos '*' direciona para todos */
}

html, body{
    margin: 0; /* não ter a margenzinha branca no canto */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190vh;
}


:root {
    --dark-blue: #1d1d1d; /* Criar variáveis para cores */
    --light-grey: #bfbfc1;
}

h2, h4{
    margin: 5px;
}

h4{
    font-weight: 300;
}

h1{
    font-size: 80px;
    margin: 0;
    font-weight: 300;
}

.iphone-container {
    width: 350px;
    height: 700px;
    border-radius: 45px;
    border: 20px solid #111;
    background: var(--dark-blue);
    position: relative;
    color: white;
    text-align: center;
    padding: 60px 10px 20px;
}

.iphone-container .notch{
    width: 180px;
    height: 25px;
    background: #111;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
}

.iphone-container .iphone-menu{
    width: 90px;
    height: 3px;
    background: var(--light-grey);
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);

}

.iphone-container svg{

    width: 100px;
    height: 100px;
    margin: 40px 0 20px;
}

.iphone-container .week-weather{
    color: var(--light-grey);
    margin-top: 60px;
    padding: 0 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}
